.AppContent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.typicalBtn {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: blueviolet;
    color: #fff;
    cursor: pointer;
}

.wrapper > div,
.wrapper > div > div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}